.sixteen.wide.column.centered.center.aligned
  .jumbotron.ui.huge.message.center.aligned
    %h1.ui.huge.header Get Your Stats On
    %p Log in below to see a report about your Spotify usage

    = link_to image_tag('spotify-login.png'), '/auth/spotify', id: 'sign-in'
