!!!
%html
  %head
  %title Streaming Music Stats
  = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .ui.page.grid
    %header
      %nav.ui.text.menu
        .header.item
          %i.icon.bar.chart
          Streaming Stats

    .ui.divider
    = yield
